html {
  height: 100%;
  width: 100%;
}

.slides{
  posistion:absolute;
  left:2px;
  
}
<!--add more-->
body{
  background-color: #light pink;    
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #EDAFB8;
  overflow:hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #fffcfd;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #fab9c2;
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #EDAFB8;
  color: white;
}

h1 {
text-align: center;
color: #FF6B8B;
}

#me{
         width:80%;
         max-width:300px;
         border-radius:10px;
         box-shadow:2px 2px 2px black;

h2 {
text-align: center;
color: #F7A5B7;
}

    .container {
            background-color: #e5bee1;
            padding: 20px 40px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
            max-width: 600px;
            font-size: 1em;
            color: #333;
        }
        .container h3 {
            font-size: 1.5em;
            font-weight: bold;
            margin-top: 0;
            color: #c93669;
        }
