html {
  height: 100%;
  width: 100%;
}

.slides{
  posistion:absolute;
  left:2px;
  
}
<!--add more-->
body{
  background-color: #F7E1D7;    
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #F7E1D7;
  overflow:hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #edafb8;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #db939d;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #EDAFB8;
  color: white;
}
